@import url(https://fonts.googleapis.com/css?family=Comfortaa|Manjari|Montserrat|Roboto&display=swap);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box
}

.main-content {
    height: 100vh;
    background-image: linear-gradient(135deg, #000000, #df8f05);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.card {
    overflow: hidden;
    border: 2px solid black !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #2f2e2e !important;
    color: white;
}

.card-body {
    padding: 1rem;
    font-family: "Comfortaa", sans-serif;
    border: #2f2e2e;
    background-color: #2f2e2e;
}

.card-body img {
    padding-bottom: 20px;
}

.form-input {
    position: relative;
    color: white;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
    transition: .25s ease-in-out;
    color: white;
}

.btn, .btn:hover, .form-input input[type="email"]:focus, .form-input input[type="password"]:focus, .form-input input[type="text"]:focus {
    transform: scalex(1.02);
    border-color: #513A0C;
    transition: .25s ease-in-out;
}

.btn:hover {
    background-color: #0C5131 !important;
}

.register-link {
    color: #32F9E1;
    text-decoration: none;
    transition: 0.25s;
}

.register-link:hover {
    color: #f59324;
    text-decoration: none;
    transition: 0.3s;
}

.error-message {
    color: #F71E45 !important;
    text-align: center;
}

.centred {
    text-align: center !important;
}

.left {
    text-align: left;
}

.auth-divider {
    background-color: white;
    width: 100%;
}

#index-body {
    background-color: dimgray;
}

.disable-click {
    pointer-events: none;
    user-select: none;
}

.middle {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Comfortaa", sans-serif;
}

#not-found {
    color: salmon;
}

.index-body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#side-menu {
    position: absolute;
    backdrop-filter: blur(2px);
    background: rgba(00, 00, 00, 0.5);
    margin: 10px;
    height: 80%;
    width: 20%;
    z-index: 10000000;

}

.nav-container {
    justify-content: center;
}

@media only screen and  (max-width: 768px) {
    .side-menu {
        display: none;
    }
}

@media only screen and  (max-width: 1560px) {
    .side-menu {
        width: 25%;
    }
}

@media only screen and  (max-width: 1300px) {
    .side-menu {
        width: 30%;
    }
}

@media only screen and  (max-width: 1040px) {
    .side-menu {
        width: 33%;
    }
}

@media only screen and  (max-width: 950px) {
    .side-menu {
        width: 42%;
    }
}


.col-11 {
    background: rgba(76, 175, 80, 0.0);
    position: absolute;
    text-align: center;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: rgba(51, 170, 51, .4) !important;
}

.show-me {
    margin: 3px 10px;
}

#mapid {
    height: 100vh;
}

.mission {
    width: 90%;
    transition: 0.25s;
    margin: 0;
}

#missionList {
    display: flex;
    max-height: 70vh;
    flex-direction: column;
    overflow-y: auto;
    color: #1C1C1C;
    font-family: "Lucida Console", "Courier New", monospace;
}

.mission:hover {
    transition: 0.25s;
    background-color: #df8f05;
    transform: scale(1.01);
    cursor: pointer;

}

.leaflet-popup-content-wrapper {
    width: 400px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {

}

.leaflet-popup-tip-container {

}

.top-nav {
    position: relative;
    z-index: 10000000;
}

#popup {
    position: fixed;
    top: 50%;
    left: 60%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: rgba(0, 0, 0, 0.5);
    display: none;
    backdrop-filter: blur(2px);
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 10000000;
}

.closeTableButton {
    position: absolute;
    top: 0;
    right: 0;
}

#close {
    color: darkorange;
    font-size: 27px;
}

.scrollbar {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F99B32;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}

.mission {
    text-align: center;
    width: 90%;
    border-radius: 10px;
    background: #F99B32;
    padding-top: 5px;
    margin-bottom: 10px !important;
    margin-right: auto;
    margin-left: auto;
    border: 1px #000 solid;

}

.tableContainer {
    padding: 5px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}


#closeTableButton {
    position: relative;
    font-size: 50px;
    top: -10px;
    right: -15px;
}

.submitBtn {
    color: black !important;
    font-family: "Lucida Console", "Courier New", monospace;
    border-color: black !important;
    margin-top: .5rem !important;
    background-color: #ff7c00 !important;
}

.submitBtn:hover {
    background-color: #e77a33 !important;
    border: 2px solid black !important;
}

.dropdown-menu {
    padding: .5rem !important;
    border-radius: .5rem !important;
    backdrop-filter: blur(2px);
    background: rgba(28, 28, 28, 0.7) !important;
    color: white !important;
    text-align: center !important;
    margin-top: .5rem !important;
    margin-right: 1rem !important;
}

.dateInput {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: .5rem !important;
    letter-spacing: 0;
    text-align: center !important;
}

.userTag{
    margin: 2px;
    padding: 3px;
    height: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    background: none;
    transition: 0.25s;
}

.userTag:hover {
    background-color: #1C1C1C;
    transition: 0.25s;
    color: white;
}

.userTag:hover span {
    transition: 0.25s;
    padding: 3px;
}

.userTag:hover:after {
    padding-right: 3px;
    transition: 0.25s;
    font-weight: bold;
    content: "  X";
}

#open:hover, #navbarDropdownMenuLink:hover {
    cursor: pointer;
}