<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    {% include 'includes/links.html' %}
</head>
<body>
<div class="centred middle">
    <h1>404!</h1>
    <h2>Sorry <span id="not-found">{{ request.path }}</span> was not found on this server.</h2>
    <a href="{{ url_for("home_page") }}">
        <button class="btn btn-success">Go back to the homepage</button>
    </a>
</div>
</body>
<!-- © Copyright Adam Edmunds, Alexander Francicus Julius Hornsby, Savina Lamborn, Emran Hamdu 2021 All rights reserved -->
</html>