<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    {% include 'includes/links.html' %}
</head>
<body id="index-body">
{% include 'includes/header.html' %}
<main>
    <div class="container centred">
        <h1>Hi There {{ name }}</h1>

        <form method="post">
            <label>Tick to make unique code admin
            <input value="pe" type="checkbox" aria-label="Checkbox for following text input" name="is_admin"></label>
            <br>
            <button type="submit" class="btn btn-dark">Generate Unique Code</button>
        </form>

    </div>
</main>


{% include 'includes/footer.html' %}
</body>
</html>