<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    {% include 'includes/links.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var arr = {{ codes|tojson }};
        $(document).ready(function () {
            var tooltip = $('[data-toggle="tooltip"]');
            tooltip.tooltip();
            $(".show-me").hover(function () {
                var id = $(this).attr('id');
                $(this).attr("value", arr[id]);
                $(this).click(() => {
                    copyMe(id);
                });
            }, function () {
                $(this).attr("value", "••••••••••••••••");
            });
        });

        function copyMe(id) {
            var copyText = document.getElementById(id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
        }

    </script>
</head>
<body id="index-body">
<div class="top-nav">
    <nav style="justify-content: space-around" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand pt-0" href="" id="nav-logo">
            <img src="{{ url_for('static',filename='resources/sci-logo.png') }}" alt="" width="59" height="34">
        </a>
        <ul style="letter-spacing: 2px;" class="navbar-nav ml-auto">
            <li>
                <a class="nav-item nav-link active" href="{{ url_for("home_page") }}">Home</a>
            </li>
            {% if session['auth_token'] %}
                {% if is_admin == 2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                </li>
            {% endif %}
        </ul>

    </nav>
</div>
<main>
    <div class="container ">
        <h1 class="centred">Hi There {{ name }}</h1>

        {% if codes != [] %}
            {% for i in range(codes|length) %}
                <input type="text" id="{{ i }}" class="show-me" readonly="" autocapitalize="off" autocorrect="off"
                       value="••••••••••••••••" data-toggle="tooltip" data-bs-placement="top"
                       title="Click to copy">
            {% endfor %}

        {% else %}
            <h1>There are no unique codes generate some!</h1>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form method="post" class="centred">
            <label>Tick to make unique code admin
                <input value="admin_checkbox" type="checkbox" aria-label="Checkbox for following text input"
                       name="is_admin"></label>
            <br>
            <button type="submit" class="btn btn-dark" value="beep">Generate Unique Code</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
{% include 'includes/footer.html' %}
</body>
</html>