<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    {% include 'includes/links.html' %}
    <script src="https://kit.fontawesome.com/1f77ad60f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="index-body">
<div class="container-fluid h-100">
    <div id="mapid"></div>
    <div style=" position: relative" class="row h-100">
        <div class="px-0 side-menu">
            <div class="row ml-2 mt-2">
                <div class="col-11 m-0 p-0">
                    <div class="pos-f-t">
                        <div class="collapse" id="navbarToggleExternalContent">
                            <div class="py-0 px-0">
                                <ul class="navbar-nav nav-pills gray">
                                    <li class="nav-item text-white">
                                        <a class="nav-link" href="#">Videos<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Table view</a>
                                    </li>
                                    <li class="nav-item dropright">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">Select date</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#"><input type="date"></a>
                                        </div>
                                    </li>
                                    {% if session['auth_token'] %}
                                        {% if is_admin == 2 %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
                                            </li>
                                        {% endif %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <form class="form-inline my-1 nav-container" method="get">
                            <nav class="navbar navbar-dark mx-0 px-0">
                                <button class="navbar-toggler burger-menu p-1 mr-1" type="button" data-toggle="collapse"
                                        data-target="#navbarToggleExternalContent"
                                        aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>
                            <input class="form-control" type="text" placeholder="Search" id="filter">
                        </form>
                        <div id="testing"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var mymap = L.map('mapid', {
        maxBounds: [
            [84.85, -177],
            [-84.85, -177],
            [-84.85, 177],
            [84.85, 177]
        ],
        zoomControl: false
    }).setView([55.67538926998685, -6.017720150557737], 13);
    L.control.zoom({
        position: 'bottomright'
    }).addTo(mymap)
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        minZoom: 3,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ'
    }).addTo(mymap)
    mymap._layersMinZoom = 5;
    var myStyle = {
        "fill": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    var markersLayer = new L.LayerGroup();
    mymap.addLayer(markersLayer);
    var places = new Map();
    var shadows = mymap.createPane('shadows');
    shadows.style.display = "none";
    var element = document.getElementById("testing");
    for (var i = 0; i < {{ datalen }}; i++) {
        var t = {{ data|tojson }}[i].product.result;
        var t2 = t.centre.split(",")
        var para = document.createElement("div");
        var node = document.createTextNode(t.title);
        para.classList.add("test")
        para.appendChild(node);
        element.appendChild(para);
        var g =L.geoJSON([t.footprint], {style: myStyle}).addTo(markersLayer);
        g.eachLayer(function (layer) {
            layer._path.class += 'geoJSONFeature';
            layer._path.id = t.title;
        });
        var marker = L.marker(t2, {title: t.title, shadowPane: 'shadows'}).addTo(markersLayer);
        marker.bindPopup(`<b>${i + 1} | ${t.title}</b><br>Location: ${t.centre}`);
        marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });
        places.set(t.title, t2);
    }
    L.control.scale().addTo(mymap);

    $("[class^=test]").on("click", (e) => {
        mymap.panTo(places.get(e.target.innerText));
    });
    $("#filter").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#testing .test").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-marker-icon]").filter(function () {
            $(this).toggle(this.title.toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-interactive]").filter(function () {
            $(this).toggle(this.id.toLowerCase().indexOf(value) > -1)
        });
    });


</script>
</body>
</html>