<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    {% include 'includes/links.html' %}
    <script src="https://kit.fontawesome.com/1f77ad60f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="index-body">

<div class="container-fluid px-0 mx-0">
    <div id="mapid">
        <div class="top-nav">
            <nav style="justify-content: space-around" class="navbar navbar-expand-lg navbar-dark bg-dark">
                {#                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
                <ul style="letter-spacing: 2px; " class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-item nav-link active" href="index.html">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" id="open" href="#">Table view</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Select date</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#"><input type="date"></a>
                        </div>
                    </li>
                    {% if session['auth_token'] %}
                        {% if is_admin == 2 %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>

                {#                </div>#}
            </nav>
        </div>

        <div class="px-0" id="side-menu">
            <div class="row ml-2 mt-2">
                <div class="col-11 m-0 p-0">
                    <div class="pos-f-t">

                        <form class="form-inline my-1 nav-container" method="get"></form>
                        <input class="form-control" type="text" placeholder="Search" id="filter">
                        <div id="testing" class="m-2 scrollbar">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="popup">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
            <a href="#" id="close">Close</a>
        </div>
    </div>
</div>

<script>

    var mymap = L.map('mapid', {
        maxBounds: [
            [84.85, -177],
            [-84.85, -177],
            [-84.85, 177],
            [84.85, 177]
        ],
        zoomControl: false
    }).setView([55.67538926998685, -6.017720150557737], 13);
    L.control.zoom({
        position: 'bottomright'
    }).addTo(mymap)
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        minZoom: 3,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ'
    }).addTo(mymap)
    mymap._layersMinZoom = 5;
    var myStyle = {
        "fill": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    var markersLayer = new L.LayerGroup();
    mymap.addLayer(markersLayer);
    var places = new Map();
    var shadows = mymap.createPane('shadows');
    shadows.style.display = "none";
    var element = document.getElementById("testing");
    for (var i = 0; i < {{ datalen }}; i++) {
        var t = {{ data|tojson }}[i].product.result;
        var t2 = t.centre.split(",");
        var para = document.createElement('div');
        var node = document.createTextNode(t.title);
        para.classList.add("test");
        para.id = 'container';
        para.appendChild(node);
        element.appendChild(para);
        var g = L.geoJSON([t.footprint], {style: myStyle}).addTo(markersLayer);
        g.eachLayer(function (layer) {
            layer._path.class += 'geoJSONFeature';
            layer._path.id = t.title;
        });
        var icon = L.icon({
            iconUrl: '{{ url_for('static', filename='resources/icon.png') }}',
            iconSize: [28, 28]
        });
        var marker = L.marker(t2, {title: t.title, shadowPane: 'shadows', icon: icon}).addTo(markersLayer);
        marker.bindPopup(`<b>${i + 1} | ${t.title}</b><br>Location: ${t.centre}`);
        marker.on('mouseover', function () {
            this.openPopup();
        });
        marker.on('mouseout', function () {
            this.closePopup();
        });
        places.set(t.title, t2);
    }
    L.control.scale().addTo(mymap);
    $("[class^=test]").on("click", (e) => {
        mymap.panTo(places.get(e.target.innerText));
    });

    $("#filter").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#testing .test").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-marker-icon]").filter(function () {
            $(this).toggle(this.title.toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-interactive]").filter(function () {
            $(this).toggle(this.id.toLowerCase().indexOf(value) > -1)
        });
    });


    var div = L.DomUtil.get('side-menu');
    L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);

    var div = L.DomUtil.get('popup');
    L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);

</script>
<script>
    const popup = document.getElementById('popup'),
        open = document.getElementById('open'),
        close = document.getElementById('close');

    open.addEventListener("click", () => {
        popup.style.display = 'block';
    });
    close.addEventListener("click", () => {
        popup.style.display = 'none';
    });
</script>
</body>
</html>