<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    {% include 'includes/links.html' %}
    <script src="https://kit.fontawesome.com/1f77ad60f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="index-body">

<div class="container-fluid px-0 mx-0">
    <div id="mapid">
        <div class="top-nav">
            <nav style="justify-content: space-around" class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand pt-0 m-0" id="nav-logo">
                    <img src="{{ url_for('static',filename='resources/sci-logo.png') }}" alt="" width="59" height="34">
                </a>
                <ul style="letter-spacing: 2px;" class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-item nav-link active" href="index.html">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="nav-item nav-link" id="open">Table view</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Select date</a>
                        <form method="post">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                Start Date: <input type="date" name="startDate" required><br>
                                End Date: <input type="date" name="endDate" required><br>
                                <button type="submit" class="btn btn-outline-primary centred">
                                    submit
                                </button>
                            </div>
                        </form>
                    </li>
                    {% if session['auth_token'] %}
                        {% if is_admin == 2 %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>

            </nav>
        </div>

        <div class="px-0" id="side-menu">
            <div class="row ml-2 mt-2">
                <div class="col-11 m-0 p-0">
                    <div class="pos-f-t">

                        <form class="form-inline my-1 nav-container" method="get"></form>
                        <input class="form-control" type="text" placeholder="Search" id="filter">
                        <div id="missionList" class="my-3 mx-0 scrollbar">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="popup">
            <div class="tableContainer">
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Mission Name</th>
                        <th scope="col">Scene Name</th>
                        <th scope="col">Classification</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Coordinates</th>
                        <th scope="col">Tags</th>
                    </tr>
                    </thead>
                    <tbody id="dataBody"></tbody>
                </table>
            </div>
            <button id="close" type="button" class="closeTableButton close my-2 mx-4" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<script>
    var mymap = L.map('mapid', {
        maxBounds: [
            [84.85, -177],
            [-84.85, -177],
            [-84.85, 177],
            [84.85, 177]
        ],
        zoomControl: false
    }).setView([55.67538926998685, -6.017720150557737], 13);
    L.control.zoom({
        position: 'bottomright'
    }).addTo(mymap)
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        minZoom: 3,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ'
    }).addTo(mymap)
    mymap._layersMinZoom = 5;
    var myStyle = {
        "fill": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    var markersLayer = new L.LayerGroup();
    mymap.addLayer(markersLayer);
    var places = new Map();
    var shadows = mymap.createPane('shadows');
    shadows.style.display = "none";
    var tagList = {{ tags|tojson }};
    var tBody = document.getElementById("dataBody");
    var element = document.getElementById("missionList");
    for (var i = 0; i < {{ datalen }}; i++) {
        var t = {{ data|tojson }}[i].product.result;
        var t2 = t.centre.split(",");
        var row = document.createElement("tr")
        var td1 = document.createElement("td")
        var td2 = document.createElement("td")
        var td3 = document.createElement("td")
        var td4 = document.createElement("td")
        var td5 = document.createElement("td")
        var td6 = document.createElement("td")
        var td7 = document.createElement("td")
        var mName = document.createTextNode(t.imagery.missionname);
        var sName = document.createTextNode(t.imagery.taskname);
        var classification = document.createTextNode(t.security.classification);
        var startDate = document.createTextNode(new Date(t.objectstartdate).toLocaleString());
        var startDate2 = document.createTextNode(new Date(t.objectstartdate).toLocaleString());
        var endDate = document.createTextNode(new Date(t.objectenddate).toLocaleString());
        var coords = document.createTextNode(t.centre);
        var userTags = document.createTextNode(tagList[t.identifier]);
        td1.appendChild(mName);
        td2.appendChild(sName);
        td3.appendChild(classification);
        td4.appendChild(startDate);
        td5.appendChild(endDate);
        td6.appendChild(coords);
        td7.appendChild(userTags);
        row.appendChild(td1);
        row.appendChild(td2);
        row.appendChild(td3);
        row.appendChild(td4);
        row.appendChild(td5);
        row.appendChild(td6);
        row.appendChild(td7);
        tBody.appendChild(row);
        var card = document.createElement('div');
        var date = document.createElement('div');
        var tag = document.createElement('div');
        var node = document.createTextNode(t.title);
        var bold = document.createElement("b");
        for (var i2 = 0; i2 < tagList[t.identifier].length; i2++) {
            var button = document.createElement("button");
            button.classList.add("userTag");
            var node3 = document.createTextNode(tagList[t.identifier][i2]);
            button.appendChild(node3);
            tag.appendChild(button);
        }

        bold.appendChild(node);
        date.appendChild(startDate2);
        card.classList.add("mission");
        tag.classList.add("tagList");
        card.appendChild(bold);
        card.appendChild(date);
        card.appendChild(tag);
        element.appendChild(card);
        var g = L.geoJSON([t.footprint], {style: myStyle}).addTo(markersLayer);
        g.eachLayer(function (layer) {
            layer._path.class += 'geoJSONFeature';
            layer._path.id = t.title;
        });
        var icon = L.icon({
            iconUrl: '{{ url_for('static', filename='resources/icon.png') }}',
            iconSize: [28, 28]
        });
        var marker = L.marker(t2, {title: t.title, shadowPane: 'shadows', icon: icon}).addTo(markersLayer);
        marker.bindPopup(`<b>${i + 1} | ${t.title}</b><br>Location: ${t.centre}`);
        marker.on('mouseover', function () {
            this.openPopup();
        });
        marker.on('mouseout', function () {
            this.closePopup();
        });
        places.set(t.title, t2);
    }
    L.control.scale().addTo(mymap);
    $("div[class^=mission]").on("click", (e) => {
        if (e.currentTarget.classList[1] === "cardTest") {
            mymap.setView(places.get(e.currentTarget.innerText.substr(0, 17)), zoom = 10);
        }
    });
    $("div[class^=tagList]").on("click", (e) => {
        e.stopPropagation()
        // TODO: Make so when clicked removed
    });

    $("#filter").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#missionList .mission").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-marker-icon]").filter(function () {
            $(this).toggle(this.title.toLowerCase().indexOf(value) > -1)
        });
        $("[class^=leaflet-interactive]").filter(function () {
            $(this).toggle(this.id.toLowerCase().indexOf(value) > -1)
        });
    });

    var div = L.DomUtil.get('side-menu');
    L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);

    var div = L.DomUtil.get('popup');
    L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);
</script>
<script>
    const popup = document.getElementById('popup'),
        open = document.getElementById('open'),
        close = document.getElementById('close');

    open.addEventListener("click", () => {
        popup.style.display = 'block';
    });
    close.addEventListener("click", () => {
        popup.style.display = 'none';
    });
</script>
</body>
<!-- © Copyright Adam Edmunds, Alexander Francicus Julius Hornsby, Savina Lamborn, Emran Hamdu 2021 All rights reserved -->
</html>