<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include 'includes/links.html' %}
</head>
<body>
<main class="main-content">
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-9 col-xl-6 card flex-row mx-auto px-0">
                <div class="card-body">
                    <img src="{{ url_for('static',filename='resources/Sci-Toolset.png') }}" alt="Sci-Toolset logo"
                         class="img-fluid mx-auto d-block">
                    <form method="POST" class="form-box px-3 centred">
                        {% if message != "none" %}
                            <p class="error-message">{{ message }}</p>
                        {% endif %}
                        <div class="form-input">
                            <input type="email" name="emailInput" placeholder="Email Address" tabindex="10" required>
                            <input type="password" name="passwordInput" placeholder="Password" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Login</button>
                            <hr class="auth-divider">
                            <p>Don't have an account click <a href="{{ url_for('register_page') }}"
                                                              class="register-link">here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>