<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% include 'includes/links.html' %}
</head>
<body>
{% include 'includes/header.html' %}
<main>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" name="emailInput" aria-describedby="emailHelp"
                       placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" name="passwordInput" placeholder="Password" required>
            </div>
            {% if message != "none" %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% include 'includes/footer.html' %}
</body>
</html>