<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peep</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

</head>
<body>
<style>
    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        box-sizing: border-box
    }

    #mapid {
        height: 100vh;
    }
</style>
<div id="mapid"></div>
<script>

    var mymap = L.map('mapid', {maxBounds: [[84.85, -177], [-84.85, -177], [-84.85, 177], [84.85, 177]]}).setView([55.67538926998685, -6.017720150557737], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        minZoom: 3,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ'
    }).addTo(mymap)
    var myStyle = {
        "fill": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    {% for i in data['data'] %}
        var mylines = [{{ i['product']['result']['footprint']|tojson}}];
        L.geoJSON(mylines, {style: myStyle}).addTo(mymap);
        var marker = L.marker([{{ i['product']['result']['centre']}}]).addTo(mymap);
        marker.bindPopup("<b>{{ i['product']['result']['title']}}</b><br>Location: {{ i['product']['result']['centre']}}", {autoPan: false});
    {% endfor %}


</script>


</body>
</html>