<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peep</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

</head>
<body>
<style>
    #mapid {
        height: 100vh;
    }
</style>
<div id="mapid"></div>
<script>
    var mymap = L.map('mapid').setView([55.67538926998685, -6.017720150557737], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWlnaHR5bHgiLCJhIjoiY2tsNmVpbmViMDU4ZjJvbnBqNGRiYmZyaSJ9.ddB04ay3KFD5nq0kPmFkWQ'
    }).addTo(mymap)
    var marker = L.marker([55.67538926998685, -6.017720150557737]).addTo(mymap);
    marker.bindPopup("<b>Test!</b><br>I like poo.");
    var myLines = [{
        "type": "LineString",
        "coordinates": [

            [
                -6.145,
                55.65
            ],
            [
                -6.152,
                55.65
            ],
            [
                -6.156,
                55.694
            ],
            [
                -6.148989,
                55.694876
            ],
            [
                -6.149,
                55.695
            ],
            [
                -6.148,
                55.695
            ],
            [
                -6.141,
                55.695
            ],
            [
                -6.134,
                55.695
            ],
            [
                -6.133,
                55.695
            ],
            [
                -6.127,
                55.695
            ],
            [
                -6.126,
                55.695
            ],
            [
                -6.12,
                55.695
            ],
            [
                -6.119,
                55.695
            ],
            [
                -6.113,
                55.695
            ],
            [
                -6.105989,
                55.695876
            ],
            [
                -6.106,
                55.696
            ],
            [
                -6.105,
                55.696
            ],
            [
                -6.099,
                55.696
            ],
            [
                -6.098,
                55.696
            ],
            [
                -6.091,
                55.696
            ],
            [
                -6.084,
                55.696
            ],
            [
                -6.083,
                55.696
            ],
            [
                -6.077,
                55.696
            ],
            [
                -6.069989,
                55.696876
            ],
            [
                -6.07,
                55.697
            ],
            [
                -6.069,
                55.697
            ],
            [
                -6.063,
                55.697
            ],
            [
                -6.062,
                55.697
            ],
            [
                -6.056,
                55.697
            ],
            [
                -6.055,
                55.697
            ],
            [
                -6.048,
                55.697
            ],
            [
                -6.041,
                55.697
            ],
            [
                -6.034,
                55.697
            ],
            [
                -6.026992,
                55.697876
            ],
            [
                -6.027,
                55.698
            ],
            [
                -6.026,
                55.698
            ],
            [
                -6.02,
                55.698
            ],
            [
                -6.019,
                55.698
            ],
            [
                -6.013,
                55.698
            ],
            [
                -6.012,
                55.698
            ],
            [
                -6.006,
                55.698
            ],
            [
                -6.005,
                55.698
            ],
            [
                -5.998,
                55.698
            ],
            [
                -5.990992,
                55.698876
            ],
            [
                -5.991,
                55.699
            ],
            [
                -5.99,
                55.699
            ],
            [
                -5.984,
                55.699
            ],
            [
                -5.983,
                55.699
            ],
            [
                -5.977,
                55.699
            ],
            [
                -5.976,
                55.699
            ],
            [
                -5.97,
                55.699
            ],
            [
                -5.969,
                55.699
            ],
            [
                -5.963,
                55.699
            ],
            [
                -5.962,
                55.699
            ],
            [
                -5.956,
                55.699
            ],
            [
                -5.948,
                55.7
            ],
            [
                -5.941,
                55.7
            ],
            [
                -5.94,
                55.7
            ],
            [
                -5.934,
                55.7
            ],
            [
                -5.933,
                55.7
            ],
            [
                -5.927,
                55.7
            ],
            [
                -5.926,
                55.7
            ],
            [
                -5.92,
                55.7
            ],
            [
                -5.919,
                55.7
            ],
            [
                -5.913,
                55.7
            ],
            [
                -5.905,
                55.701
            ],
            [
                -5.898,
                55.701
            ],
            [
                -5.891,
                55.701
            ],
            [
                -5.89,
                55.701
            ],
            [
                -5.883,
                55.701
            ],
            [
                -5.88,
                55.656
            ],
            [
                -5.887,
                55.656
            ],
            [
                -5.888,
                55.656
            ],
            [
                -5.894,
                55.656
            ],
            [
                -5.895,
                55.656
            ],
            [
                -5.901,
                55.656
            ],
            [
                -5.902,
                55.656
            ],
            [
                -5.908,
                55.656
            ],
            [
                -5.916,
                55.655
            ],
            [
                -5.923,
                55.655
            ],
            [
                -5.924,
                55.655
            ],
            [
                -5.93,
                55.655
            ],
            [
                -5.931,
                55.655
            ],
            [
                -5.937,
                55.655
            ],
            [
                -5.938,
                55.655
            ],
            [
                -5.944,
                55.655
            ],
            [
                -5.945,
                55.655
            ],
            [
                -5.951,
                55.655
            ],
            [
                -5.958011,
                55.654124
            ],
            [
                -5.958,
                55.654
            ],
            [
                -5.959,
                55.654
            ],
            [
                -5.966,
                55.654
            ],
            [
                -5.973,
                55.654
            ],
            [
                -5.974,
                55.654
            ],
            [
                -5.98,
                55.654
            ],
            [
                -5.981,
                55.654
            ],
            [
                -5.987,
                55.654
            ],
            [
                -5.994011,
                55.653124
            ],
            [
                -5.994,
                55.653
            ],
            [
                -5.995,
                55.653
            ],
            [
                -6.001,
                55.653
            ],
            [
                -6.002,
                55.653
            ],
            [
                -6.008,
                55.653
            ],
            [
                -6.009,
                55.653
            ],
            [
                -6.016,
                55.653
            ],
            [
                -6.023,
                55.653
            ],
            [
                -6.024,
                55.653
            ],
            [
                -6.03,
                55.653
            ],
            [
                -6.037011,
                55.652124
            ],
            [
                -6.037,
                55.652
            ],
            [
                -6.038,
                55.652
            ],
            [
                -6.044,
                55.652
            ],
            [
                -6.045,
                55.652
            ],
            [
                -6.051,
                55.652
            ],
            [
                -6.052,
                55.652
            ],
            [
                -6.058,
                55.652
            ],
            [
                -6.059,
                55.652
            ],
            [
                -6.066,
                55.652
            ],
            [
                -6.073,
                55.652
            ],
            [
                -6.080008,
                55.651124
            ],
            [
                -6.08,
                55.651
            ],
            [
                -6.081,
                55.651
            ],
            [
                -6.087,
                55.651
            ],
            [
                -6.088,
                55.651
            ],
            [
                -6.094,
                55.651
            ],
            [
                -6.095,
                55.651
            ],
            [
                -6.101,
                55.651
            ],
            [
                -6.102,
                55.651
            ],
            [
                -6.108,
                55.651
            ],
            [
                -6.116,
                55.65
            ],
            [
                -6.123,
                55.65
            ],
            [
                -6.124,
                55.65
            ],
            [
                -6.13,
                55.65
            ],
            [
                -6.131,
                55.65
            ],
            [
                -6.137,
                55.65
            ],
            [
                -6.138,
                55.65
            ],
            [
                -6.144,
                55.65
            ],
            [
                -6.145,
                55.65
            ]
        ]

    }];
    var myStyle = {
        "fill": "#ff7800",
        "weight": 5,
        "opacity": 0.65
    };

    L.geoJSON(myLines, {
        style: myStyle
    }).addTo(mymap);

</script>


</body>
</html>